body{background: aliceblue;}
h1{color:brown; text-align: center;}
header{border-bottom:1px solid black;}
.list{border:1px dotted black;}
a{text-decoration:none;}
a:hover{color:violet;}
p{text-indent:1em; size:1em; font-family:휴먼편지체;}
h2{color:blue;text-shadow:1px 1px 2px blue;}
footer{background-color:orange;border-radius:10px;}
html, body{display:inline-block;padding: 0px; margin:0px; height:100%;}
header{padding:0px;margin:0px;height:20%; background-color:yellow;}
nav{padding:0px;margin:0px;float:left;height:72%; width:10%;background-color: orange;}
section{padding:0px;margin:0px;float:right;height:72%; width:90%;background-color:lightblue;}
footer{padding:0px;margin:0px;clear:both;height:8%; background-color:purple;}